@model IEnumerable<WebApplication1.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<nav class="mainColor">
    <div class="nav-wrapper mainColor">
        <a style="font-size: 20px">J.4.U</a>
        <ul class="right hide-on-med-and-down">
            <li><a>@Html.ActionLink("Anuncios", "Index", "Anuncios")</a></li>
        </ul>
    </div>
</nav>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privilegio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privilegio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioID })
            
        </td>
    </tr>
}

</table>
