@model WebApplication1.Models.Usuario
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" />

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <style>
        .card {
            position: absolute;
            left: 60%;
            top: 60%
            padding: 10px 10px;
        }
        .field-validation-error {
            color: red;
        }
    </style>
    
     


    <div id class="row center-align">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {


            <div class="col s10 ">
                <div class="card  white darken-1">
                    <div class="card-content black-text">
                        <span class="card-title">Login</span>
                        

                            <tr>
                                <td>@Html.LabelFor(model => model.Email)</td>

                                <td>@Html.EditorFor(model => model.Email)</td>

                            </tr>

                            <tr>
                                <td>@Html.ValidationMessageFor(model => model.Email)</td>
                            </tr>

                            <tr>
                                <td>@Html.LabelFor(model => model.Pass)</td>
                                <td>@Html.EditorFor(model => model.Pass)</td>
                            </tr>

                            <tr>

                                <td>@Html.ValidationMessageFor(model => model.Pass)</td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                </td>
                            </tr>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn">   <input type="submit" name="name" value="Login" />  </a>

                    </div>
                    <p>@Html.ActionLink("Click aqui para registrarse!", "Create", "Usuarios")</p>
                </div>
            </div>



        }

    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

