@model IEnumerable<WebApplication1.Models.Anuncio>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        nav ul li a {
            color: #95BFE5;
        }
    </style>

</head>



<nav class="mainColor">
    <div class="nav-wrapper mainColor">
        <a>J.4.U</a>
        <ul class="right hide-on-med-and-down">
            <li><a>@Html.ActionLink("Perfil", "Details", "Usuarios")</a></li>
            <li><a>@Html.ActionLink("Perfil", "AnunciosAdmin", "Anuncios")</a></li>
        </ul>
    </div>
</nav>

<body>



    <p>
        @Html.ActionLink("Create New", "Create")

    </p>

    @using (Html.BeginForm("Search", "Anuncios", FormMethod.Get))
    {
        <p style="margin-right: 400px ">
            <a style="margin-right: 300px; margin-left:20px">  @Html.TextBox("searchElement") </a>
            <input type="submit" value="Search" class="waves-effect waves-red btn" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Located)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @{ try
                        {
                            <img src="@Url.Content(item.Foto)" alt="Image" style="width:50px; height:50px" />
                        }
                        catch (Exception e)

                        {
                            <p>AQUI NO HAY NA MALDICION</p>
                        }
                    }


                </td>
                <td>
                    @Html.ActionLink(item.Entrada, "Details", new { id = item.PostID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descript)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Located)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                </td>
            </tr>
        }

    </table>
</body>


<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Content/materialize.js"></script>
</html>
